<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Search Commercial Property</title>
<link rel="stylesheet" media="all" href="../static/nc.css" th:href="@{/nc.css}">
</head>
<body>
<div class="heading"><h1>Search Commercial Property</h1></div>
	<br><br>
	<div class="box1">
		<div><button id="btn">
		<a href="/view/property/commercial">View Commercial Table</a>
		</button>
		</div>
		<div>
			<button id="btn">
				<a href="/add/property/commercial">Go Back</a>
			</button>
		</div>	
		
	</div>
	
<div class="box2">
<form action="#" th:action="@{/search/Commercial}" th:object="${commercial}" method="get">
       Address:  <input type="text" th:field="*{address}" /><br><br>
		Property Type:<select th:field="*{propertyType}">
			          <option th:each="p:*{propertyTypes}" th:value="${p}" th:text="${p}"/>
		              </select><br><br>
	                  
		Floor Space:<select th:field="*{floorSpace}">
		              <option th:each="f:*{floorSpaces}" th:value="${f}" th:text="${f}" />
		              </select><br><br>
		              
	     Land Size:<select th:field="*{landSize}">
	                  <option th:each="l:*{landSizes}" th:value="${l}" th:text="${l}" />
	                </select><br><br>		
		 
   Transaction Type:<select th:field="*{transactionType}">
                    <option th:each="t:*{transactionTypes}" th:value="${t}" th:text="${t}" />
                    </select>
                    <br>
                    <input type="Submit" value="Search" id="btn"/>
	</form></div>
	<a th:href="@{/}">Go to Home page</a>
<br>
	<form method="post" th:action="@{/logout}">
<input type="submit" id="logout-submit" name="logout-submit" value="logout" class="btn">
</form>
</body>
</html>